<div class="container">
    <h1>COVID-19 DONATION</h1>
    <p>GIVING IS THE GREATEST ACT OF GRACE.</p>
    <h2>DONATE NOW</h2></br>
    <div class="details">
        <form action="/pay" method="POST">
            <input type="text" name="name" placeholder="Name" aria-required="true" class="form-control">
            {{!-- <input type="text" name="mob" placeholder="Mobile" aria-required="true"></br></br> --}}
            <input type="email" name="email" placeholder="Email Id" aria-required="true" class="form-control">
            <input type="text" name="amount" placeholder="Amount" aria-required="true" class="form-control">
            <button type="submit" class="btn btn-primary">Donate</button>
        </form>
    </div>

</div>