<div class="container">
    <h1>COVID-19 DONATION</h1>
    <p>GIVING IS THE GREATEST ACT OF GRACE.</p>
    <h2>DONATE NOW</h2></br>
    <div class="details">
        <form action="/pay" method="POST">
            <input type="text" name="name" placeholder="Name" aria-required="true" class="form-control">
            {{!-- <input type="text" name="mob" placeholder="Mobile" aria-required="true"></br></br> --}}
            <input type="email" name="email" placeholder="Email Id" aria-required="true" class="form-control">
            <input type="text" name="amount" placeholder="Amount" aria-required="true" class="form-control">
            <button type="submit" class="btn btn-primary">Donate</button>
            <script
                src="https://www.paypal.com/sdk/js?client-id=AfdVN-Xk0jDX7S7Ko9dczGJggrs-_-3FYnU9VRkm1OspjCZFnQUfa1hv4J5D06f6ezPVrcGIwhqqFmVx&disable-funding=credit,card">
                </script>
            <div id="paypal-button-container"></div>
            <script src="/javascripts/script.js">
                
            </script>
        </form>
    </div>

</div>