<div class="donation">
    <h1>COVID-19 DONATION</h1>
    <p>GIVING IS THE GREATEST ACT OF GRACE.</p>
    {{!-- <h2>DONATE NOW</h2> --}}
    <a href="/donate"><button type="button" class="btn btn-primary">Donate</button></a>
</div>
